.SearchView {
    width: 100%;
    height: 100vh;
    background-color: #191919;
    padding: 50px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.SearchView input {
    appearance: none;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 40px;
}

.SearchView input:focus {
    outline: none;
    border-bottom: #2e9cc6 solid 2px;
}

.SearchView .cardlist {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    overflow-y: auto;
    gap: 20px;
    overflow-x: hidden;
}

.SearchView .cardlist .MovieCard {
    height: 250px !important;
}