.SavedView {
    width: 100%;
    height: 100vh;
    background-color: #191919;
    color: white;
}

.SavedView .nosaved {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.SavedView .nosaved > img {
    aspect-ratio: 1/1;
    color: white;
    width: 20%; 

    filter: brightness(0) saturate(100%) invert(58%) sepia(99%) saturate(306%) hue-rotate(151deg) brightness(76%) contrast(104%);
}

.SavedView h1 {
    padding: 30px;
    padding-bottom: 0px;
}

.SavedView .cardlist {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 20px;
}

.SavedView .cardlist .MovieCard {
    height: 250px !important;
}